## [Start] Setting "callerId" to default value of "8047311032". **
$util.qr($context.args.input.put("callerId", $util.defaultIfNull($ctx.args.input.callerId, "8047311032")))
## [End] Setting "callerId" to default value of "8047311032". **
## [Start] Setting "duration" to default value of "0". **
$util.qr($context.args.input.put("duration", $util.defaultIfNull($ctx.args.input.duration, 0)))
## [End] Setting "duration" to default value of "0". **
## [Start] Setting "recordingEnabled" to default value of "true". **
$util.qr($context.args.input.put("recordingEnabled", $util.defaultIfNull($ctx.args.input.recordingEnabled, true)))
## [End] Setting "recordingEnabled" to default value of "true". **
{}