## [Start] Setting "senderId" to default value of "WDBEEP". **
$util.qr($context.args.input.put("senderId", $util.defaultIfNull($ctx.args.input.senderId, "WDBEEP")))
## [End] Setting "senderId" to default value of "WDBEEP". **
## [Start] Setting "entityId" to default value of "1201161991108627443". **
$util.qr($context.args.input.put("entityId", $util.defaultIfNull($ctx.args.input.entityId, "1201161991108627443")))
## [End] Setting "entityId" to default value of "1201161991108627443". **
## [Start] Setting "recipientCount" to default value of "1". **
$util.qr($context.args.input.put("recipientCount", $util.defaultIfNull($ctx.args.input.recipientCount, 1)))
## [End] Setting "recipientCount" to default value of "1". **
{}