## [Start] Setting "source" to default value of "airtel_cdr_webhook". **
$util.qr($context.args.input.put("source", $util.defaultIfNull($ctx.args.input.source, "airtel_cdr_webhook")))
## [End] Setting "source" to default value of "airtel_cdr_webhook". **
## [Start] Setting "inboundNumber" to default value of "+919319767034". **
$util.qr($context.args.input.put("inboundNumber", $util.defaultIfNull($ctx.args.input.inboundNumber, "+919319767034")))
## [End] Setting "inboundNumber" to default value of "+919319767034". **
{}