openapi: 3.0.3
info:
  title: WECARE.DIGITAL API
  version: 1.0.0
  description: |
    Admin platform API for WECARE.DIGITAL — WhatsApp Business, SMS, Voice, Email,
    E-commerce, AI automation, and Payments.
    
    Base URL: https://api.wecare.digital
    Auth: Cognito Bearer token (Authorization header)
    
    Lambda functions: 39 Python 3.12 handlers on AWS
  contact:
    name: WECARE.DIGITAL
    url: https://wecare.digital

servers:
  - url: https://api.wecare.digital
    description: Production

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito access token
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        statusCode: { type: integer }
    HealthResponse:
      type: object
      properties:
        status: { type: string, example: healthy }

paths:
  # ── Core ──
  /contacts:
    get:
      tags: [Core]
      summary: List contacts (paginated)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200': { description: Contact list }
    post:
      tags: [Core]
      summary: Create or update a contact
      responses:
        '200': { description: Contact created/updated }

  /contacts/{contactId}:
    get:
      tags: [Core]
      summary: Get contact by ID
      parameters:
        - name: contactId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Contact details }

  /messages:
    get:
      tags: [Core]
      summary: Read messages (paginated)
      parameters:
        - name: contactId
          in: query
          schema: { type: string }
      responses:
        '200': { description: Message list }

  /messages/{messageId}:
    delete:
      tags: [Core]
      summary: Delete a message
      parameters:
        - name: messageId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Message deleted }

  # ── WhatsApp Messaging ──
  /outbound-whatsapp:
    post:
      tags: [WhatsApp]
      summary: Send outbound WhatsApp message (text, template, media)
      responses:
        '200': { description: Message sent }
        '429': { description: Rate limit exceeded }

  /whatsapp-templates:
    get:
      tags: [WhatsApp]
      summary: List WhatsApp message templates
      responses:
        '200': { description: Template list }
    post:
      tags: [WhatsApp]
      summary: Create a WhatsApp template
      responses:
        '200': { description: Template created }

  /whatsapp-business-api:
    get:
      tags: [WhatsApp]
      summary: WhatsApp Business API webhook verify (Meta)
      security: []
      responses:
        '200': { description: Verification challenge }
    post:
      tags: [WhatsApp]
      summary: WhatsApp Business API webhook events (Meta)
      security: []
      responses:
        '200': { description: Event processed }

  /waba-management:
    get:
      tags: [WhatsApp]
      summary: Get WABA info and phone numbers
      responses:
        '200': { description: WABA details }

  /template-analytics:
    get:
      tags: [WhatsApp]
      summary: Get template send/delivery analytics
      responses:
        '200': { description: Analytics data }

  /scheduled-messages:
    get:
      tags: [WhatsApp]
      summary: List scheduled messages
      responses:
        '200': { description: Scheduled message list }
    post:
      tags: [WhatsApp]
      summary: Schedule a WhatsApp message
      responses:
        '200': { description: Message scheduled }

  # ── WhatsApp Unified (Messaging + Calling) ──
  /whatsapp:
    get:
      tags: [WhatsApp Calling]
      summary: Webhook verify / active calls / call logs
      security: []
      responses:
        '200': { description: Verify challenge or call data }
    post:
      tags: [WhatsApp Calling]
      summary: Call events from Meta / accept / reject / hangup / outbound
      responses:
        '200': { description: Call action processed }

  # ── SMS ──
  /outbound-sms:
    post:
      tags: [SMS]
      summary: Send SMS via Airtel or AWS Pinpoint
      responses:
        '200': { description: SMS sent }

  /sms-aws:
    post:
      tags: [SMS]
      summary: Send SMS via AWS Pinpoint
      responses:
        '200': { description: SMS sent }

  /sms-in/airtel:
    post:
      tags: [SMS]
      summary: Airtel inbound SMS webhook
      security: []
      responses:
        '200': { description: SMS received }

  # ── Voice ──
  /outbound-voice:
    post:
      tags: [Voice]
      summary: Initiate outbound voice call (TTS or audio)
      responses:
        '200': { description: Call initiated }

  /voice-aws:
    post:
      tags: [Voice]
      summary: AWS Pinpoint voice call
      responses:
        '200': { description: Call initiated }

  /voice-cdr-read:
    get:
      tags: [Voice]
      summary: Read voice CDR records
      responses:
        '200': { description: CDR list }

  /voice-in/c2c:
    post:
      tags: [Voice]
      summary: Airtel Click-to-Call webhook
      security: []
      responses:
        '200': { description: C2C event processed }

  /voice-in/cdr:
    post:
      tags: [Voice]
      summary: Airtel Voice CDR webhook
      security: []
      responses:
        '200': { description: CDR stored }

  /voice-in/obd:
    post:
      tags: [Voice]
      summary: Airtel OBD campaign webhook
      security: []
      responses:
        '200': { description: OBD event processed }

  # ── Email ──
  /outbound-email:
    post:
      tags: [Email]
      summary: Send email via SES
      responses:
        '200': { description: Email sent }

  # ── Payments ──
  /razorpay-webhook:
    post:
      tags: [Payments]
      summary: Razorpay payment webhook
      security: []
      responses:
        '200': { description: Payment processed }

  /payments:
    get:
      tags: [Payments]
      summary: Read payment records
      responses:
        '200': { description: Payment list }

  /invoices:
    get:
      tags: [Payments]
      summary: List invoices
      responses:
        '200': { description: Invoice list }
    post:
      tags: [Payments]
      summary: Create and send invoice
      responses:
        '200': { description: Invoice created }

  # ── E-commerce ──
  /wix-store:
    get:
      tags: [E-commerce]
      summary: Wix Store product/order sync
      responses:
        '200': { description: Store data }
    post:
      tags: [E-commerce]
      summary: Wix Store webhook events
      security: []
      responses:
        '200': { description: Event processed }

  /product-image-gen:
    post:
      tags: [E-commerce]
      summary: Generate product images via Bedrock
      responses:
        '200': { description: Image generated }

  # ── AI ──
  /ai-config:
    get:
      tags: [AI]
      summary: Get AI automation configuration
      responses:
        '200': { description: AI config }
    post:
      tags: [AI]
      summary: Update AI automation configuration (Admin only)
      responses:
        '200': { description: Config updated }

  /ai-query-kb:
    post:
      tags: [AI]
      summary: Query Bedrock Knowledge Base
      responses:
        '200': { description: KB results }

  /ai-generate-response:
    post:
      tags: [AI]
      summary: Generate AI response (Bedrock Converse API)
      responses:
        '200': { description: AI response }

  # ── Operations ──
  /bulk-jobs:
    get:
      tags: [Operations]
      summary: List bulk messaging jobs
      responses:
        '200': { description: Job list }
    post:
      tags: [Operations]
      summary: Create bulk messaging job
      responses:
        '200': { description: Job created }

  /bulk-jobs/{jobId}:
    put:
      tags: [Operations]
      summary: Control bulk job (pause, resume, cancel)
      parameters:
        - name: jobId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Job updated }

  /dlq-replay:
    post:
      tags: [Operations]
      summary: Replay DLQ messages (Admin only)
      responses:
        '200': { description: Messages replayed }

  /system-cleanup:
    post:
      tags: [Operations]
      summary: System cleanup (Admin only)
      responses:
        '200': { description: Cleanup completed }

  /billing:
    get:
      tags: [Operations]
      summary: Get billing/usage data
      responses:
        '200': { description: Billing data }

  /media-cleanup:
    post:
      tags: [Operations]
      summary: Clean up expired media files
      responses:
        '200': { description: Cleanup completed }

  # ── Health ──
  /{any}/health:
    get:
      tags: [Health]
      summary: Health check (available on all endpoints)
      security: []
      parameters:
        - name: any
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  # ── WhatsApp Business — Flows ──
  /wa-business/flows:
    get:
      tags: [WhatsApp Flows]
      summary: List or get flows (flowId query for detail)
      parameters:
        - { name: wabaId, in: query, schema: { type: string } }
        - { name: flowId, in: query, schema: { type: string } }
      responses: { '200': { description: Flow list or detail } }
    post:
      tags: [WhatsApp Flows]
      summary: Create a flow
      responses: { '200': { description: Flow created } }
    put:
      tags: [WhatsApp Flows]
      summary: Update a draft flow
      responses: { '200': { description: Flow updated } }
    delete:
      tags: [WhatsApp Flows]
      summary: Delete a flow
      responses: { '200': { description: Flow deleted } }
  /wa-business/flows/publish:
    post: { tags: [WhatsApp Flows], summary: Publish a flow, responses: { '200': { description: Published } } }
  /wa-business/flows/deprecate:
    post: { tags: [WhatsApp Flows], summary: Deprecate a flow, responses: { '200': { description: Deprecated } } }
  /wa-business/flows/preview:
    post: { tags: [WhatsApp Flows], summary: Generate a flow preview URL, responses: { '200': { description: Preview URL } } }
  /wa-business/flows/assets:
    post:
      tags: [WhatsApp Flows]
      summary: Upload a FLOW_JSON asset (multipart). Locally validated; returns Meta validation_errors.
      parameters: [ { name: flowId, in: query, required: true, schema: { type: string } } ]
      responses: { '200': { description: Asset uploaded }, '400': { description: Validation error } }
  /wa-business/flows/migrate:
    post:
      tags: [WhatsApp Flows]
      summary: Migrate flows between WABAs (Meta migrate_flows)
      responses: { '200': { description: Migration result } }
  /wa-business/flows/sync:
    post:
      tags: [WhatsApp Flows]
      summary: Reconcile Meta flows into FlowRegistry
      parameters: [ { name: wabaId, in: query, required: true, schema: { type: string } } ]
      responses: { '200': { description: Sync summary } }

  # ── WhatsApp Business — Template TTL ──
  /wa-business/template-ttl/rules:
    get: { tags: [WhatsApp Templates], summary: Get TTL rules per category, responses: { '200': { description: TTL rules } } }
  /wa-business/template-ttl/validate:
    post:
      tags: [WhatsApp Templates]
      summary: Validate a category/TTL pair
      responses: { '200': { description: Validation result } }
  /wa-business/templates/{templateId}/ttl:
    post:
      tags: [WhatsApp Templates]
      summary: Update a template's message_send_ttl_seconds
      parameters: [ { name: templateId, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: TTL updated }, '400': { description: Invalid TTL } }

  # ── WhatsApp Templates — validation / presets / send-test / refresh ──
  /whatsapp/templates/validate:
    post:
      tags: [WhatsApp Templates]
      summary: Validate a template definition (errors + warnings)
      responses: { '200': { description: Validation result } }
  /whatsapp/templates/presets:
    get: { tags: [WhatsApp Templates], summary: List preset template definitions, responses: { '200': { description: Preset list } } }
  /whatsapp/templates/presets/{name}:
    get:
      tags: [WhatsApp Templates]
      summary: Get a single preset definition
      parameters: [ { name: name, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: Preset }, '404': { description: Unknown preset } }
  /whatsapp/templates/{templateId}/send-test:
    post:
      tags: [WhatsApp Templates]
      summary: Send a template test message
      parameters: [ { name: templateId, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: Sent } }
  /whatsapp/templates/{templateId}/refresh:
    post:
      tags: [WhatsApp Templates]
      summary: Re-fetch a template's live status/category/quality
      parameters: [ { name: templateId, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: Template detail } }

  # ── WhatsApp Business — Media ──
  /wa-business/media:
    post:
      tags: [WhatsApp Media]
      summary: Upload media (base64 or s3Key). MIME + size validated.
      responses: { '200': { description: mediaId }, '400': { description: Invalid media } }
  /wa-business/media/{mediaId}:
    get:
      tags: [WhatsApp Media]
      summary: Media info (masked URL + expiry; download=true stages to S3)
      parameters:
        - { name: mediaId, in: path, required: true, schema: { type: string } }
        - { name: download, in: query, schema: { type: boolean } }
      responses: { '200': { description: Media info } }
    delete:
      tags: [WhatsApp Media]
      summary: Delete media
      parameters: [ { name: mediaId, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: Deleted } }
  /wa-business/media/resumable/session:
    post: { tags: [WhatsApp Media], summary: Start a resumable upload session, responses: { '200': { description: sessionId } } }
  /wa-business/media/resumable/{sessionId}/chunk:
    post:
      tags: [WhatsApp Media]
      summary: Append a base64 chunk
      parameters: [ { name: sessionId, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: Progress } }
  /wa-business/media/resumable/{sessionId}/finish:
    post:
      tags: [WhatsApp Media]
      summary: Assemble + upload (target=handle for template headers, or media)
      parameters: [ { name: sessionId, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: headerHandle or mediaId } }

  # ── WhatsApp Business — Send test messages ──
  /wa-business/messages/send/text:
    post: { tags: [WhatsApp Messaging], summary: Send a text message, responses: { '200': { description: messageId } } }
  /wa-business/messages/send/template:
    post: { tags: [WhatsApp Messaging], summary: Send a template message, responses: { '200': { description: messageId } } }
  /wa-business/messages/send/media:
    post: { tags: [WhatsApp Messaging], summary: Send a media message, responses: { '200': { description: messageId } } }
  /wa-business/messages/send/interactive:
    post: { tags: [WhatsApp Messaging], summary: Send an interactive message, responses: { '200': { description: messageId } } }
  /wa-business/messages/send/flow:
    post:
      tags: [WhatsApp Messaging]
      summary: Send a flow message by id or name (draft/published)
      responses: { '200': { description: messageId } }
